:root {
    --color-black: #231F20;
}

header {
    display: flex;
    padding: 3rem 5rem;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

header button {
    font-size: 24px;
    font-family: 'Lemon Milk Bold';
    letter-spacing: 0.5px;
    width: 110px;
    cursor: pointer;
    color: var(--color-black);
}

header button:hover {
    text-shadow:
        0 0 5px #D0D577,
        0 0 10px #D0D577,
        0 0 15px #D0D577;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 100px;
    margin-inline: 5rem;
    margin-bottom: 7rem;
}

.hero img {
    grid-row: span 2;
    width: 880px;
}

.hero h1 {
    grid-row: 1;
    font-size: 80px;
}

.hero button {
    background-color: #D2DB89;
    padding: 12px 32px;
    border: 2px solid var(--color-black);
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 70px;
    white-space: pre-line;
    line-height: 1.2;
    align-self: center;
}

.hero button:hover {
    background-color: #bbc47a;
    transform: scale(1.05);
}

.hero h1,
.hero button {
    color: var(--color-black);
    font-family: 'Modern Extended Book';
}

#content {
    display: flex;
    justify-content: space-around;
}

.carousel {
    position: relative;
    height: 630px;
    width: 500px;
}

.carousel__item,
.preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--color-black);
    border: 5px solid var(--color-black);
    padding: 0;
}

.carousel__item legend,
.preview legend {
    padding-inline: 1rem;
    text-align: center;
    font-family: 'Lemon Milk Bold';
    font-size: 24px;
}

.carousel__item button {
    font-family: 'Modern Extended Book';
    font-size: 20px;
    margin-top: 1rem;
    width: 270px;
    white-space: pre-wrap;
    cursor: pointer;
    padding: 1rem 0;
}

.carousel__item button:focus {
    outline: none;
    background-color: #231F20;
    color: #e1d5c2;
}

.carousel__item button:hover {
    background-color: #231F20;
    color: #e1d5c2;
}

.carousel__track-container {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in-out;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.carousel__button--left,
.carousel__button--right {
    width: 30px;
    height: 30px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel__button--left {
    background-image: url("./leftBTN.svg");
    left: -40px;
}

.carousel__button--right {
    background-image: url("./rightBTN.svg");
    right: -40px;
}

.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.carousel__indicator {
    border: 0;
    border-radius: 5px;
    height: 25px;
    width: 100px;
    background: white;
    margin: 0 12px;
    cursor: pointer;
    font-family: 'Lemon Milk Bold';
    font-size: 14px;
    color: var(--color-black);
}

.carousel__indicator.current-slide {
    background: var(--color-black);
    color: #e1d5c2;
}

.preview {
    width: 1200px;
    height: 630px;
    font-family: 'Lemon Milk Bold';
    font-size: 24px;
}

.even,
.odd {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.food-info {
    margin-top: 1rem;
    font-family: 'Modern Extended Book';
    font-size: 20px;
    width: 370px;
}

.food-price {
    font-size: 48px;
}

.currency {
    font-size: 24px;
}

.even .food {
    grid-column: 3/6;
    grid-row: 1/4;
    place-self: center;
}

.even .name {
    grid-column: 1/3;
    grid-row: 1/2;
    justify-self: center;
    align-self: self-end;
}

.even .food-info {
    margin-left: 6.5rem;
    grid-column: 1/3;
}

.odd .food {
    grid-column: 1/4;
    grid-row: 1/4;
    place-self: center;
}

.odd .name {
    grid-column: 3/6;
    grid-row: 1/2;
    justify-self: center;
    align-self: self-end;
}

.odd .food-info {
    grid-column: 3/6;
    grid-row: 2/3;
    margin-left: 10rem;
}

.is-hidden {
    display: none;
}

footer {
    padding: 1.5rem;
    text-align: end;
}