:root {
    --color-black: #231F20;
}

header {
    display: flex;
    padding: 3rem 5rem;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

header button {
    font-size: 24px;
    font-family: 'Lemon Milk Bold';
    letter-spacing: 0.5px;
    width: 110px;
    cursor: pointer;
    color: var(--color-black);
}

header button:hover {
    text-shadow:
        0 0 5px #D0D577,
        0 0 10px #D0D577,
        0 0 15px #D0D577;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 100px;
    margin-inline: 5rem;
    margin-bottom: 7rem;
}

.hero img {
    grid-row: span 2;
    width: 880px;
}

.hero h1 {
    grid-row: 1;
    font-size: 80px;
}

.hero button {
    background-color: #D2DB89;
    padding: 12px 32px;
    border: 2px solid var(--color-black);
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 70px;
    white-space: pre-line;
    line-height: 1.2;
    align-self: center;
}

.hero button:hover {
    background-color: #bbc47a;
    transform: scale(1.05);
}

.hero h1,
.hero button {
    color: var(--color-black);
    font-family: 'Modern Extended Book';
}

footer {
    padding: 1.5rem;
    text-align: end;
}